@charset "utf-8";
#decking-service, #cladding-service, #gate-service, #repair-service {
	position: relative;
	transition: all 2s;
}	
#decking-button {
	border-left: 4px solid;
	border-left-color: #228b22;
	color: #228b22;
}